body{
  margin: 0;
  padding: 0;
  background-image: url(../img/projects/central-union-mission/brickwall-inv.jpg);
  background-attachment: fixed;
}

@font-face {
    font-family: 'central_union_mission_filleRg';
    src: url('../fonts/centralunionmission-filled-webfont.eot');
    src: url('../fonts/centralunionmission-filled-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centralunionmission-filled-webfont.woff') format('woff'),
         url('../fonts/centralunionmission-filled-webfont.ttf') format('truetype'),
         url('../fonts/centralunionmission-filled-webfont.svg#central_union_mission_filleRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'central_union_mission_neonRg';
    src: url('../fonts/centralunionmission-neon-webfont.eot');
    src: url('../fonts/centralunionmission-neon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centralunionmission-neon-webfont.woff') format('woff'),
         url('../fonts/centralunionmission-neon-webfont.ttf') format('truetype'),
         url('../fonts/centralunionmission-neon-webfont.svg#central_union_mission_neonRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, body{
  color: rgba(255, 255, 255, .95);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1{
  font-family: 'central_union_mission_filleRg';
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
}

h2{
  font-family: 'central_union_mission_filleRg';
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

h2 a{color: #333;}
h2 a:hover{
  opacity: .5;
  color: #333;
}

.head-img{
  background-image: url(../img/projects/central-union-mission/central-union-mission-wide.jpg);
  background-size: cover;
  background-position: 0 70%;
}

.neon{
  font-family: 'central_union_mission_neonRg';
  font-weight: normal;
}

.bar-fill{
  background-color: #e2d8d7;
}