/* -------------------------------------------------------
some components of this stylesheet are inspired by/borrowed from Base, 
a CSS framework meticulously crafted by the wonderful people at Mapbox.

https://www.mapbox.com/base/
------------------------------------------------------- */

/* 

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
license: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------
  markup free clearing
  details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */

.clearfix { display:block; }
.clearfix:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }

/* ------------------------------------------------------
  styles
------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img{max-width: 100%;}

/*-------------------------------------------------------
  columns
------------------------------------------------------- */

.col0    { float:left; width:04.1666%; max-width:50px; }
.col1    { float:left; width:08.3333%; max-width:100px; }
.col2    { float:left; width:16.6666%; max-width:200px; }
.col3    { float:left; width:25.0000%; max-width:300px; }
.col4    { float:left; width:33.3333%; max-width:400px; }
.col5    { float:left; width:41.6666%; max-width:500px; }
.col6    { float:left; width:50.0000%; max-width:600px; }
.col7    { float:left; width:58.3333%; max-width:700px; }
.col8    { float:left; width:66.6666%; max-width:800px; }
.col9    { float:left; width:75.0000%; max-width:900px; }
.col10   { float:left; width:83.3333%; max-width:1000px; }
.col11   { float:left; width:91.6666%; max-width:1100px; }
.col12   { width:100%; display:block; }

.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* reverse margins on right-floated elements */
.margin0r  { margin-right:04.1666%; }
.margin1r  { margin-right:08.3333%; }
.margin2r  { margin-right:16.6666%; }
.margin3r  { margin-right:25.0000%; }
.margin4r  { margin-right:33.3333%; }
.margin5r  { margin-right:41.6666%; }
.margin6r  { margin-right:50.0000%; }
.margin7r  { margin-right:58.3333%; }
.margin8r  { margin-right:66.6666%; }
.margin9r  { margin-right:75.0000%; }
.margin10r { margin-right:83.3333%; }
.margin11r { margin-right:91.6666%; }
.margin12r { margin-right:100.0000%; }

.row0  { height: 0px;}
.row1  { height: 40px;}
.row2  { height: 80px;}
.row3  { height: 120px;}
.row4  { height: 160px;}
.row5  { height: 200px;}
.row6  { height: 240px;}
.row7  { height: 280px;}
.row8  { height: 320px;}
.row9  { height: 360px;}
.row10 { height: 400px;}
.row11 { height: 440px;}
.row12 { height: 480px;}
.row13 { height: 520px;}
.row14 { height: 560px;}
.row15 { height: 600px;}
.row16 { height: 640px;}

/* padding
------------------------------------------------------- */
.pad0  { padding:5px; }
.pad0y { padding-top:5px; padding-bottom:5px; }
.pad0x { padding-right:5px; padding-left:5px; }

.pad1    { padding:10px; }
.pad2    { padding:20px; }
.pad4    { padding:40px; }

.pad1x { padding-left: 10px; padding-right: 10px;}
.pad2x { padding-left: 20px; padding-right: 20px;}
.pad4x { padding-left: 40px; padding-right: 40px;}

.pad1y { padding-top: 10px; padding-bottom: 10px;}
.pad2y { padding-top: 20px; padding-bottom: 20px;}
.pad4y { padding-top: 40px; padding-bottom: 40px;}

.pad8 {  padding: 80px; }
.pad8y { padding-top: 80px; padding-bottom: 80px;}
.pad8x { padding-left: 80px; padding-right: 80px;}


/* utility
------------------------------------------------------- */
.fr                           { float:right; }
.fl                           { float:left; }
.center                       { text-align:center; }
.hidden.hidden                { display:none; }
.space-bottom0                { margin-bottom: 5px;}
.space-bottom1                { margin-bottom:10px; }
.space-bottom2, .space-bottom { margin-bottom:20px; }
.space-bottom4                { margin-bottom:40px; }
.space-bottom8                { margin-bottom: 80px;}
.space-top0                   { margin-top: 5px; }
.space-top1                   { margin-top: 10px; }
.space-top2                   { margin-top: 20px; }
.space-top4                   { margin-top: 40px;}
.space-top8                   { margin-top: 80px;}
.hide-tablet, .hide-mobile    { display:block; }
.show-tablet, .show-mobile    { display:none; }
.show-mobile                  { display:none; }
.show-mobile.inline           { display:none; }
img.inline, .inline           { display:inline-block; }
.break-word                   { word-wrap:break-word; }
.align-middle                 { vertical-align: middle;}
.align-top                    { vertical-align: top;}
.block                        { display:block; }
.scroll-h { overflow-x:auto; }
.scroll-v { overflow-y:auto; }
.capitalize { text-transform:capitalize; }
.z1   { z-index:1; }
.z10  { z-index:10; }
.z100 { z-index:100; }
.round                  { border-radius:3px; }
.round-top              { border-radius:3px 3px 0 0; }
.round-right            { border-radius:0 3px 3px 0; }
.round-bottom           { border-radius:0 0 3px 3px; }
.round-left             { border-radius:3px 0 0 3px; }
.unround,
.pill.unround .unround  { border-radius:0;}

.clear{clear: both;}

.border-b{border-bottom: 1px solid rgba(0,0,0,0.25);}
.border-t{border-top: 1px solid rgba(0,0,0,0.25);}
.border-l{border-left: 1px solid rgba(0,0,0,0.25);}
.border-r{border-right: 1px solid rgba(0,0,0,0.25);}

.test-border{border: 1px solid red;}


/*-------------------------------------------------------
  animation
------------------------------------------------------- */

.fader{
  -webkit-transition: opacity .35s ease;
  -moz-transition: opacity .35s ease;
}

/*-------------------------------------------------------
  mobile
------------------------------------------------------- */
@media only screen and (max-width:640px) {

  .row1  { height:auto; min-height: 40px;}
  .row2  { height:auto; min-height: 80px;}
  .row3  { height:auto; min-height: 120px;}
  .row4  { height:auto; min-height: 160px;}
  .row5  { height:auto; min-height: 200px;}
  .row6  { height:auto; min-height: 240px;}
  .row7  { height:auto; min-height: 280px;}
  .row8  { height:auto; min-height: 320px;}
  .row9  { height:auto; min-height: 360px;}
  .row10 { height:auto; min-height: 400px;}
  .row11 { height:auto; min-height: 440px;}
  .row12 { height:auto; min-height: 480px;}
  .row13 { height:auto; min-height: 520px;}
  .row14 { height:auto; min-height: 560px;}
  .row15 { height:auto; min-height: 600px;}
  .row16 { height:auto; min-height: 640px;}

  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12,
  .fifths > * { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12                     { margin-left:0; }
  .pad8                         { padding:40px; }
  .pad8y                        { padding-top:40px; padding-bottom:40px;}
  .pad8x                        { padding-left:40px; padding-right:40px;}
  .pad4y                        { padding-top:20px; padding-bottom:20px; }
  .pad4                         { padding:20px; }
  .pad4x                        { padding-left:20px; padding-right:20px; }
  .pad2                         { padding:10px; }
  .pad2y                        { padding-top:10px; padding-bottom:10px; }
  .pad2x                        { padding-right:10px; padding-left:10px; }
  .title                        { margin-bottom:10px; }
  .space-bottom2, .space-bottom { margin-bottom:10px; }
  .space-bottom4                { margin-bottom:20px; }
  .space-bottom8                { margin-bottom:40px;}
  .space-top2                   { margin-top:10px;}
  .space-top4                   { margin-top:20px;}
  .space-top8                   { margin-top:40px;}
  .hide-mobile                  { display:none!important; }
  .show-mobile                  { display:block!important; }
  .show-mobile.inline           { display:inline-block!important; }

}