h5{
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .75em;
  opacity: .5;
  margin-bottom: 15px;
  font-weight: 300;
}

p{
  margin:20px 0px 30px 0px;
}

.hero{
  width: 100%;
  height:200px;
  overflow: hidden;
}

.work-desc{
  text-align: left;
}

.work-desc img{
}

/* Page Navigation */

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* ------------------------------------------------------
  MEDIA QUERIES
------------------------------------------------------- */

@media only screen and (max-width: 33.75em) {  /* 540px */
  img{
  }
}