html{
	/* border: 10px solid #222; */
	background-image: url(/img/paper-levels.png);
}

header{
	/* background-image: url(/img/paper-levels.png); */
	/* border-bottom: 10px solid #222; */
}

header a{
	color:#3e3e3e;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 2px;
	font-weight: 700;
}

	header a:hover{
		color:#707070;
	}

header ul li{
	display: inline-block;
	margin: 0px 15px 0px 15px;
	vertical-align: middle;
	text-transform: uppercase;
}

.mobile-menu{
	display: none;
	float: right;
	margin-right: 20px;
	text-align: right;
	width:30%;
	font-size: 22px;
	font-weight: bold;
	padding:2px;
}

	.mobile-menu li{
		width: 100%;
	}

.logo{
	width: 125px;
	height: 125px;
	background-image: url(/img/hand.png);
	margin-top: -10px;
	margin-bottom: 5px;
}

	.logo:hover{
		background-image: url(/img/hands.gif);
	}

img{max-width: 100%;}

.project{
	margin: 0px -50px -50px -20px;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}
	.project:hover {opacity:.6;}

.project img{
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer{
	opacity: .35;
}

.wall{
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

.wall ul li{
	text-decoration: none;
	margin: 14px 0px 14px 8px;
	line-height: 23px;
}

/*	text & links
------------------------------------------------------- */

h1, 
h2, 
h3,{
	/* font-family: 'Open Sans', sans-serif; */
}

h1{
	font-size: 30px;
	padding:16px 0px;
	font-weight: 700;
}

h2{
	font-size: 20px;
	padding:16px 0px;
	font-weight: 700;
}

h3{
	font-size: 18px;
	padding:16px 0px;
	font-weight: 400;
	font-style: italic;
}

p{
	line-height: 23px;
	margin: 14px 0px;
}

body{
	color:#3e3e3e;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body em{font-style: italic;}
body strong{font-weight: 700;}

a{
  text-decoration: none;
  color:#3b95d6;
}
  a:hover{color:#62aee7;}

small{
	font-size: 14px;
	font-style: italic;
	opacity: .5;
}

.desaturate{
	-webkit-filter: grayscale(100%); filter: grayscale(100%);
	filter: grayscale(100%);
}
	.desaturate:hover{
		-webkit-filter: grayscale(0%); filter: grayscale(0%);
		filter: grayscale(0%);
	}

/*-------------------------------------------------------
  mobile
------------------------------------------------------- */
@media only screen and (max-width:640px) {
	.project{
		margin:-15px 0px -15px 0px;
		padding:10;
		box-sizing: border-box;
	}
	.logo{
		float:left;
		margin-left: 10px;
	}
	.head-item{display: none;}
	header ul li{
		margin: 0;
	}
	.mobile-menu{display: block;}
}