/* ~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~ */

.main-wrap{
	text-align: center;
}

.work-block{
	padding: 20px;
	text-align: center;
}

/*
.one 	{width:100%; float: left;}
.two	{width: 50%; float: left;}
*/

.splash{
	display: block;
	margin: 0px auto 0px auto;
}

.content-body{
	margin:20px 0 0 0;
}

.border{
	border: 1px solid red;
}

/* ~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~ */

.header{
	margin:40px 0 40px 0;
}

.logo a{
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.logo a:hover{
	opacity: .6;
}

.nav ul li{
	display: inline;
	margin:20px;
}

.nav ul li img{
	opacity: .4;
	transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

	.nav ul li img:hover{
		opacity: .2;
	}

/* ~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~ */

.footer{
	margin-top: 80px;
	margin-bottom: 20px;
}

.footer img{
	opacity: .2;
}

/* ~~~~~~~~~~~~~~~~~ INFO ~~~~~~~~~~~~~~~~~ */

.about-img{
	margin: 40px 0 80px 0;
}

.about-text{
	opacity: .8;
	margin-bottom: 80px;
}

.friends{
	width: 50%;
	float: left;
	text-align: left;
}

.songs{
	width: 50%;
	float: right;
	text-align: left;
}