.work-body{
}

.work-block{
	display: block;
	width: 200px;
	margin:5px;
	border:solid 1px red;
}

.a{ height: 100px; background-color: red;}
.b{ height: 200px; background-color: green;}
.c{ height: 400px; background-color: blue;}