/* ~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~ */

.main-wrap{
	text-align: center;
}

.work-block{
	display: block;
	padding: 10px;
	text-align: center;
	width:310px;
	/* margin: -10px; */
}

.content-body{
	margin:20px 0 0 0;
}

.border{
	border: 1px solid red;
}

iframe{
	margin-bottom: 20px;
}


.attic-img{
	float:left;
	padding:20px;
}

.attic-desc{
	margin-top: 20px;
	margin-bottom: 40px;
}

/* ~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~ */

.header{
	margin:40px 0 40px 0;
}

.logo a{
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.logo a:hover{
	opacity: .6;
}

.nav ul li{
	display: inline;
	margin:15px;
}

.nav ul li img{
	opacity: .4;
	transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
}

	.nav ul li img:hover{
		opacity: .2;
	}

/* ~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~ */

.footer{
	margin-top: 80px;
	margin-bottom: 20px;
}

.footer img{
	opacity: .2;
}

/* ~~~~~~~~~~~~~~~~~ PHOTO ~~~~~~~~~~~~~~~~~ */

.photo-story{
	margin-bottom: 40px;
}

.photo-roll{
	display: block;
}

/* ~~~~~~~~~~~~~~~~~ INFO ~~~~~~~~~~~~~~~~~ */

.about-img{
	margin: 40px 0 20px 0;
}

.about-text{
	opacity: .8;
	margin-bottom: 50px;
}

.about-text-alt{
	display: none;
}

.lists{
	text-align: center;
	margin: 0 auto 0 auto;
}

	.lists p{
		font-weight: bold;
	}

.friends{
	width: 50%;
	float: left;
}


.friends img, .songs img{
	padding: 30px;
	max-width: 325px;
	margin:0 auto 0 auto;
}

.songs{
	width: 50%;
	float: right;
}

.friends, .songs{
	padding:30px;
}

.social ul li{
	display: inline-block;
	margin:10px;
}

.freelance ul{
	list-style: none;
}

.green{
	color:#84b63c;
}

/* ~~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 680px) {

	body{padding:10px;}

	.about-text-alt{display: block;}
	.about-text{display: none;}
	.about-img{margin: 40px 0 20px 0;}

	.social{margin-top: 40px;}

}