/*************************************/
/************ HEADER BAR *************/
/*************************************/

.top-bar{
	margin: 30px 0px 30px 0px;
}

.logo{
}

	.logo a{
		margin: 0px auto 20px auto;
		display: block;
		width: 243px;
		height: 154px;
		/* background-image: url({{site.baseurl}}/img/logo.jpg); */
		background-image: url(../img/logo.jpg);
		opacity:1;

     	transition: opacity .25s ease-in-out;
     	-moz-transition: opacity .25s ease-in-out;
     	-webkit-transition: opacity .25s ease-in-out;
	}

		.logo a:hover{
			opacity: .7;
		}

.nav{
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	/* font-family: 'Droid Serif', serif; */
}

.nav ul li{
	display: inline;
	margin: 0px 20px 0px 20px;
}

.breacrumb{
	text-decoration: underline;
}

/*************************************/
/************** CONTENT **************/
/*************************************/

.content-body{
	width: 100%;
	text-align: center;
}

.content-body a{
    opacity: 1;
     transition: opacity .25s ease-in-out;
     -moz-transition: opacity .25s ease-in-out;
     -webkit-transition: opacity .25s ease-in-out;
}

.content-body a:hover{
	opacity: 0.6;
}

.content-column{
	float:left; 
	width:33.3333%;
}

.content-column a{
	display: block;
}

.column-pad{
	padding-left:10px;
	padding-right: 10px;
}

.block{
	float: left;
	width: 100%;
	margin-bottom: 4px;
}

.big-img{
	margin-bottom: 40px;
}

.single-copy{
	text-align: left;
}

/* 

~~~~ css for portfolio item titles/descriptions ~~~~

.item-head{ width: 100%; display: block;}
.item-desc{}

*/

.social{
	font-size: 14px;
	text-align: center;
	margin-bottom:40px;
}

.link-list{
	margin-top: 40px;
	line-height: 15px;
}

.link-list p{
	font-size: 12px;
	margin-bottom: 10px;}

.link-info{
	margin: 60px auto 20px auto;
	text-align: center;
}

/************************************/
/************** FOOTER **************/
/************************************/

.footer{
	margin:80px 0px 50px 0px;
	text-align: center;
}

.footer p{
	font-size: 12px;
}

/****************************************************/
/************** SPECIFIC MEDIA QUERIES **************/
/****************************************************/

@media only screen and (max-width: 680px) {
	.nav ul li{
		margin: 0px 15px 0px 15px;
	}
	
}
