.btm-brdr{border-bottom: 5px solid rgba(0,0,0,1);}

.header {
	font: italic bold 20px 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	background: url(/img/header-bg.png) no-repeat 0 100%;
	background-size: cover;
	height:120px;
}

.logo img{max-height: 100%;}

.nav{
	margin-left: 30px;
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.nav li{
	display: inline;
	margin-right: 20px;
}

	.nav li a{
		color: #000;
		padding:5px 5px 5px 8px;
	}

	.nav li a:hover{
		color:#fff;
		background-color: #000;
	}

@media only screen and (max-width:640px) {
	.header{
		height:80px;
		font-size: 16px;
	}
	.nav{margin-left: 15px;}
	.nav li{margin-right: 5px;}
	.btm-brdr{border-bottom: 3px solid rgba(0,0,0,1);}
}