<div class='content-body clearfix' id='blockbuilder'>
 <div class='content-column'>
  {% for item in site.categories.blog1 %}
    <a href='{{site.baseurl}}{{item.url}}' class='block'><img src="{{site.baseurl}}{{item.splash}}" /></a>
  {% endfor %}
 </div>
 <div class='content-column column-pad'>
  {% for item in site.categories.blog2 %}
    <a href='{{site.baseurl}}{{item.url}}' class='block'><img src="{{site.baseurl}}{{item.splash}}" /></a>
  {% endfor %}
 </div>
 <div class='content-column'>
  {% for item in site.categories.blog3 %}
    <a href='{{site.baseurl}}{{item.url}}' class='block'><img src="{{site.baseurl}}{{item.splash}}" /></a>
  {% endfor %}
 </div>
</div>
