---
---
<!DOCTYPE html>
<html>
<head>
  <title>design + illustration + animation {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>

  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />

  <link href='{{site.baseurl}}/css/base.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/css/utility.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/css/central-union.css' rel='stylesheet' />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class='central-union-container'>
    {{content}}
  </div>

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6028512-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
